{% load sprite_tags %}
<!-- Flash Messages -->
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-4" id="flash-messages"{% if oob %} hx-swap-oob="true"{% endif %}>
        {% if messages %}
            {% for message in messages %}
                <div class="mb-4 {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %}">
                    <div class="flex">
                        <div class="flex-shrink-0">
                            {% if message.tags == 'error' %}
                                {% sprite "lucide-circle-x" 24 %}
                            {% elif message.tags == 'warning' %}
                                {% sprite "lucide-triangle-alert" 24 %}
                            {% elif message.tags == 'success' %}
                                {% sprite "lucide-circle-check" 24 %}
                            {% else %}
                                {% sprite "lucide-info" 24 %}
                            {% endif %}
                        </div>
                        <div class="ml-3">
                            <p class="font-medium">
                                {{ message }}
                            </p>
                        </div>
                        <div class="ml-auto pl-3">
                            <div class="-mx-1.5 -my-1.5">
                                <button type="button" onclick="this.parentElement.parentElement.parentElement.parentElement.remove()" class="inline-flex rounded-md p-1.5 opacity-70 transition-opacity hover:opacity-100">
                                    <span class="sr-only">Dismiss</span>
                                    {% sprite "lucide-x" 24 %}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
