{% extends "base.html" %}
{% load sprite_tags django_vite %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="px-4 py-6 sm:px-0" hx-ext="morph" id="dashboard-body">
    <!-- Welcome Section -->
    <div class="mb-8">
        <div class="flex items-center justify-between">
            <div>
                <h2 class="text-2xl font-bold text-body">Hello {{ request.user.first_name|default:"!" }}!</h2>
                <p class="mt-1 text-muted">Here's your overview for today</p>
                <div class="mt-2 flex items-center space-x-4">
                    <span class="text-xs text-muted">Last updated: <span id="last-updated">{{ now|date:"H:i" }}</span></span>
                </div>
            </div>
            <div class="flex items-center justify-between">
                <a href="{% url 'dashboard_stats' %}" class="mr-4 btn-primary">
                    {% sprite "lucide-target" 24 class="mr-2" %}
                    Statistics
                </a>

                <a href="{% url 'item_create' %}" class="btn-primary">
                    {% sprite "lucide-circle-plus" 24 class="mr-2" %}
                    Create Item
                </a>
            </div>
        </div>
    </div>

    <!-- Stats Cards Partial -->
    {% include "./partials/stats_cards.html" %}

    <!-- Search Box Partial -->
    {% include "./partials/search_box.html" with item_secondary_classes="cursor-pointer" %}
</div>

{% endblock %}
{% block extra_body %}
    {{ block.super }}
    {% vite_asset 'frontend/js/dashboard.js' %}
{% endblock %}
